<app-menu pageTitle="Bible Study"></app-menu>
<div class="body-container">
  <div class="header">
    <div>
      <span class="header-field">Name:</span>
      <span class="header-field">{{study.name}}</span>
    </div>
    <div>
      <span class="header-field">Description:</span>
      <span class="header-field">{{study.description}}</span>
    </div>
    <div>
      <span class="header-field">Method:</span>
      <span class="header-field">{{study.method}}</span>
    </div>
    <div>
      <span class="header-field">Created:</span>
      <span class="header-field">{{study.createdDate}}</span>
    </div>
  </div>
  <button>New Note</button>

</div>
