@import "../../../assets/styles/variables";
@import "../../../assets/styles/common";

.header {
  display: grid;
  grid-template-columns: 500px auto;
  grid-row-gap: 5px;
  background-color: $is-grey-4;
  border: 1px solid $is-blue-6;
  border-radius: 5px;
  padding: 10px;
}

.header-column {
  display: grid;
  grid-template-columns: 90px auto;
}

.header-label {
  font-size: 16px;
  color: black;
  justify-self: start;
}

.header-field {
  font-size: 18px;
  color: $is-blue-4;
  justify-self: start;
}

.new-note-button {
  margin-top: 10px;
}
