@import "../styles/variables";

.is-button {
  height: 2rem;
  background-color: $is-blue-3;
  color: $is-teal-1 !important;
}

.is-button:hover {
  background-color: $is-blue-7;
  color: $is-blue-2 !important;
}

.body-container {
  margin: 15px;
}

