// Global Variables used throughout the application

// Blue Colors
$is-blue-1: #0A192C;
$is-blue-2: #182940;
$is-blue-3: #27374D;
$is-blue-4: #3D4F67;
$is-blue-5: #596980;
$is-blue-6: #909CAD;
$is-blue-7: #BCC3CD;

// Teal Colors
$is-teal-1: #e0f2f1;
$is-teal-2: #b2dfdb;
$is-teal-3: #80cbc4;
$is-teal-4: #4db6ac;
$is-teal-5: #26a69a;
$is-teal-6: #009688;
$is-teal-7: #00897b;
$is-teal-8: #00796b;
$is-teal-9: #00695c;
$is-teal-10: #004d40;

// Cyan Colors
$is-cyan-1: #e0f7fa;
$is-cyan-2: #b2ebf2;
$is-cyan-3: #80deea;
$is-cyan-4: #4dd0e1;
$is-cyan-5: #26c6da;
$is-cyan-6: #00bcd4;
$is-cyan-7: #00acc1;
$is-cyan-8: #0097a7;
$is-cyan-9: #00838f;
$is-cyan-10: #006064;

// Green Colors
$is-green-1: #072B23;
$is-green-2: #143F35;
$is-green-3: #234B42;
$is-green-4: #38655B;
$is-green-5: #537E74;

// Light Green Colors
$is-light-green-1: #72951F;
$is-light-green-2: #91B53E;
$is-light-green-3: #B7D968;
$is-light-green-4: #D7F299;
$is-light-green-5: #E8F8C3;

// Purple Colors
$is-purple-1: #110C2F;
$is-purple-2: #211B44;
$is-purple-3: #302B51;
$is-purple-4: #48436C;
$is-purple-5: #655F87;

// Yellow Colors
$is-yellow-1: #B99D2B;
$is-yellow-2: #D9BE50;
$is-yellow-3: #FDE47F;
$is-yellow-4: #FFEDA6;
$is-yellow-5: #FFF5CD;

// Grey Colors
$is-grey-1: #595555;
$is-grey-2: #878585;
$is-grey-3: #B1B0B0;
$is-grey-4: #DEDDDD;
$is-grey-5: #FFFEFE;
$is-white: whitesmoke;

$is-error-red: #8C1313;
