/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

$my-primary: mat.m2-define-palette(mat.$m2-teal-palette, 900);
$my-accent: mat.m2-define-palette(mat.$m2-brown-palette, A400, A200, A700);

$my-theme: mat.m2-define-light-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent
  ),
  typography: mat.m2-define-typography-config(),
  density: -3,
));

@include mat.all-component-themes($my-theme);

.mat-sort-header-arrow {
  color: whitesmoke !important;
}
